body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
   }

   h2{
    color:#9C0D38;
   }

   .col-gap {
    column-gap: 2rem;
  }
  
   .navbar,.bg-dark{
    background-color: #9C0D38 !important;
   }
  
    .text>h4{
      font-size: 2em;
    }
  
   .nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight:500;
   
  }

  .navbar-nav>li{
    margin-right:40px;
    
    
  }
  .nav-link{
    color:white;
  }
  .fa-solid{
    color:white;
  }
  
  .fa-solid:hover{
    color:#DC9E82;
  }
  
  
  .active, .nav-link:active {
    background-color: #DC9E82;
    color:black;
   
    
    border-radius: 10px;
  }
 .active{
  color:black !important;
  font-weight: bold;
 }
  
  .nav-pills>.nav-item>.nav-link{
    color: black;
  }
  
  
  /***portfolio****/
  
  #front,#full,#android,#graphics{
  display: none;
  }
  
  
  /****Service***/
  .service{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    
  }

  .service>i{
    color:#9C0D38
  }
  .service-info{
    margin-left: 5%;
    width:100vw;
    
  }

  .service-info>h3{
    color:#DC9E82;
  }
  .fa-object-group,.fa-database,.fa-headset,.fa-pen{
    color:black;
  }

  .btn{
    background-color: #9C0D38;
    font-weight: bold;
  }

  label{
    font-weight:500;
    color: #9C0D38;
    
  }

  .card-title{
    color: #9C0D38

  }
  footer{
    background-color: #9C0D38;
    color:white;
    text-align: center;
    font-weight:bold;

  }

  .footlinks{
    display: none;
  }
  @media only screen and (max-width: 600px) {
body{
  background-color: red;
}
.outlinks{
  display: none;
}
.footlinks{
    display: block;
    margin-left:20%;
    
}
  }