body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: white;
   }

   h2{
    color:#9C0D38;
   }

   /**index**/
  
#name{
margin-top: 4%;
}

.console-container {  
font-family:Khula;
font-size:2em;
text-align:center;
height:400px;
margin-top: 10%;
width:60%;
display:block;
position:absolute; 
top:0;
bottom:0;
left:19%;
right:0;


}
.console-underscore {
display:inline-block;
position:relative;
top:-0.14em;
left:10px;
}

.nav-item{
display: flex;
align-items: center;
}
.fa-solid{
color:gray;
}


   /**end of index**/

   .col-gap {
    column-gap: 2rem;
  }
  
   .navbar,.bg-dark{
    background-color: #9C0D38 !important;
   }
  
    .text>h4{
      font-size: 2em;
    }
  
   .nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight:500;
   
  }

  .navbar-nav>li{
    margin-right:40px;
    
    
  }
  .nav-link{
    color:white;
  }
  .fa-solid{
    color:white;
  }
  
  .fa-solid:hover{
    color:#DC9E82;
  }
  
  
  .active, .nav-link:active {
    background-color: #DC9E82;
    color:black;
   
    
    border-radius: 10px;
  }
 .active{
  color:black !important;
  font-weight: bold;
 }
  
  .nav-pills>.nav-item>.nav-link{
    color: black;
  }
  
  
  /***portfolio****/
  
  #front,#full,#android,#graphics{
  display: none;
  }
  
  
  /****Service***/
  .service{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    
  }

  .service>i{
    color:#9C0D38
  }
  .service-info{
    margin-left: 5%;
    width:100vw;
    
  }

  .service-info>h3{
    color:#DC9E82;
  }
  .fa-object-group,.fa-database,.fa-headset,.fa-pen{
    color:black;
  }

  .btn{
    background-color: #9C0D38;
    font-weight: bold;
  }

  label{
    font-weight:500;
    color: #9C0D38;
    
  }

  .card-title{
    color: #9C0D38

  }
  footer{
    background-color: #9C0D38;
    color:white;
padding-top:10px;
margin-top:20px;
    text-align: center;
    font-weight:bold;

  }
 #bf_ft{
  margin-bottom: 5%;
 }
  .footlinks{
    display: none;
  }
  @media only screen and (max-width: 600px) {
    #name{
       margin-left:-10%;
    }
    .console-container {  
      font-family:Khula;
      font-size:2em;
      text-align:center;
      height:400px;
      margin-top: 30%;
      width:60%;
      display:block;
      position:absolute; 
      top:0;
      bottom:0;
      left:19%;
      right:0;
      
      
      }
.outlinks{
  display: none;
}
.footlinks{
    display: block;
    margin-left:20%;
    
}
  }